body {
  margin:0px;
  background-color:rgba(81, 81, 81, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1938px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:751px;
}
#u2644 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:94px;
  width:1060px;
  height:751px;
}
#u2644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2645 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:343px;
  width:194px;
  height:49px;
}
#u2645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2646 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:196px;
  width:194px;
  height:49px;
}
#u2646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2647 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:490px;
  width:194px;
  height:49px;
}
#u2647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u2648 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:275px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u2648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2649 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:288px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#000000;
}
#u2649_seg0 {
  border-width:0px;
  position:absolute;
  left:-299px;
  top:-4px;
  width:299px;
  height:8px;
}
#u2649_seg1 {
  border-width:0px;
  position:absolute;
  left:-299px;
  top:-4px;
  width:8px;
  height:32px;
}
#u2649_seg2 {
  border-width:0px;
  position:absolute;
  left:-305px;
  top:15px;
  width:20px;
  height:20px;
}
#u2649_text {
  border-width:0px;
  position:absolute;
  left:-212px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2650 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:47px;
  width:485px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  white-space:nowrap;
}
#u2651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2651 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:337px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:2px;
}
#u2652 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:329px;
  width:92px;
  height:1px;
}
#u2652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2653 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:196px;
  width:758px;
  height:184px;
  font-size:20px;
  color:#FFFFFF;
}
#u2653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  word-wrap:break-word;
}
#u2654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2654 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:310px;
  width:20px;
  height:20px;
}
#u2654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2655 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:337px;
  width:68px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u2656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:2px;
}
#u2656 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:355px;
  width:92px;
  height:1px;
}
#u2656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2657 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:336px;
  width:20px;
  height:20px;
}
#u2657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2658 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:288px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#000000;
}
#u2658_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:206px;
  height:8px;
}
#u2658_seg1 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2658_text {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2659 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:338px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#000000;
}
#u2659_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:385px;
  height:8px;
}
#u2659_seg1 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:-54px;
  width:8px;
  height:58px;
}
#u2659_seg2 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:-54px;
  width:14px;
  height:8px;
}
#u2659_seg3 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:-60px;
  width:20px;
  height:20px;
}
#u2659_text {
  border-width:0px;
  position:absolute;
  left:170px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2660 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:310px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#000000;
}
#u2660_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-14px;
  width:8px;
  height:14px;
}
#u2660_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-14px;
  width:137px;
  height:8px;
}
#u2660_seg2 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:-26px;
  width:8px;
  height:20px;
}
#u2660_seg3 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:-26px;
  width:74px;
  height:8px;
}
#u2660_seg4 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:-32px;
  width:20px;
  height:20px;
}
#u2660_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
